<h1>Seller Dashboard</h1>

<h3>Total Products : <%= totalProducts %>
</h3>

<h3>Total Orders : <%= totalOrders %>
</h3>

<h3>Pending Orders : <%= pendingOrders %>
</h3>

<h3>Processing Orders : <%= processingOrders %>
</h3>

<h3>Shipped Orders : <%= shippedOrders %>
</h3>

<h3>Delivered Orders : <%= deliveredOrders %>
</h3>

<hr>

<a href="/my-products">My Products</a>

<br><br>

<a href="/seller/orders">Seller Orders</a>

<br><br>

<a href="/add-product">Add Product</a>

<br><br>

<a href="/products-page">All Products</a>